
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/main.tff') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MyCustomFont', sans-serif; 
}
